 body {
    font-family: 'Lexend';font-size: 18px;
    background-color: #f8f9fa;
    height: auto;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


  
/*
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 800px auto;
    margin: 0 30px; 
}

.card.active {
    opacity: 1;
}

.card {
    padding: 20px; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-check {
    margin: 15px 15px 5px 20px;
}

.button{
    margin: 30px 10px 5px 20px;

}

.form-label{
    font-size: 25px auto;
}

.navbar {
    margin-bottom: 40px;
}

@media (max-width: 576px) {
    .navbar {
        margin-bottom: 10px;
    }
} */